h1 {
  font-style: oblique;
}

.doublebass {
  background-color: #9E3F32;
}

#contrabass {
  text-decoration: underline;
}

.bassdescription {
  display: inline;
}

.notbassdescription {
  background-color: #FA5835;
}

p.bassdescription {
  font-size: 1.2em;
}

.notabass {
  border: 10px dotted red;
}
