body {
  background-image: url("../images/flea.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 50%;
}

header {
  margin-top: 10%;
}

h1 {
  font-style: oblique;
  font-weight: normal;
  text-align: center;
  background-color: #FFF;
}

.bassdescription {
  background-color: grey;
  display: inline;
  font-family: sans-serif;
}

.notbassdescription {
  width: 25%;
}

p.bassdescription {
  font-size: 1.2em;
}

p.notbassdescription {
  background-color: #ccc;
}

img.fourstringpic {
  height: 350px;
  width: 100px;
}

img.standuppic, img.fivestring, img.fourstringpic, img.twelvestring {
  width: 100px;
  height: auto;
}

img.twelvestring {
  width: 100px;
  height: auto;
}

span.isnot {
  font-size: 1.5rem;
  color: #E31C3A;
}

h3, li {
  background-color: #EEE;
  width: 20%;
}

img.largemouthbasspic, img.bassoon {
  width: 35%;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li {
  float: left;
  display: inline;
  width: 100px;
}

#navbar li a:hover {
  background-color: #111;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

main {
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}

footer {
  background-color: #fff;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 500px;
}

.columnone {
  clear: both;
  float: left;
  width: 290px;
  margin-right: 10px;
}

.columntwo {
  float: left;
  width: 290px;
  margin: 0 5px 0 5px;
}

.columnthree {
  float:left;
  width: 290px;
  margin-left: 10px;
}
