body {
  background-image: url("../images/flea.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 50%;
}

h1 {
  font-style: oblique;
}

.doublebass {
  background-color: #9E3F32;
}

#contrabass {
  text-decoration: underline;
}

.bassdescription {
  background-color: grey;
  display: inline;
  font-family: sans-serif;
}

.notbassdescription {
  background-color: #FA5835;
}

p.bassdescription {
  font-size: 1.1em;
}

.notabass {
  border: 10px dotted red;
}

img.fourstringpic {
  height: 350px;
  width: 100px;
}
